$border: #999;
$text: #666;
$list-bgc: rgb(0, 157, 255);
$white: #fff;
$delete :red;

.placeBox {
  width: 50%;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  border: 0.05em solid $border;
  border-radius: 0.35em;
  padding: 5px;
}
.inpBox {
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  button {
    border: 0.05em solid $border;
    border-radius: 0.35em;
    padding: 0 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: small;
  }
  .inp {
    padding: 10px 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border: none;
    outline: none;
  }
}
.inp,
.list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $text;
}
.cross {
  border: none;
  background-color: transparent;
  font-size: 23px;
  color: $border;
  cursor: pointer;
  &:hover{
    color: $delete;
  }
}
.list {
  padding: 10px 5px;
  width: 50%;
  margin: 3px 0;
  list-style-type: none;
  border: 0.05em solid $border;
  border-radius: 0.35em;
  background-color: $white;
  li {
    padding: 7px 10px;
  }
  li:hover {
    background-color: $list-bgc;
    color: $white;
    border-radius: 5px;
  }
}
